<!DOCTYPE html>
<html lang="{{ site.language }}" {% if searchable==undefined %} data-pagefind-ignore {%endif%}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or site.title }}</title>
        <link rel="stylesheet" href="{{site.baseUrl}}/style/index.css">
        <link href="{{site.baseUrl}}/pagefind/pagefind-ui.css" rel="stylesheet">
        <script src="{{site.baseUrl}}/pagefind/pagefind-ui.js"></script>
        <meta name="description" content="{{ site.description }}">
        {% include fonts.njk %}
        <script >
            function _setTheme() {
                const theme = localStorage.getItem("theme-preference")
                if (theme === "light" || theme === "dark") 
                    document
                        .documentElement
                        .setAttribute("data-theme", theme)
                }
            _setTheme()
            window.onload = _setTheme
        </script>
        <noscript>
            <style>
                .js-only {
                    display: none !important;
                }
            </style>
        </noscript>
    </head>
    <body>
        <div class="blur" aria-hidden></div>
        {% include "header.njk" %}
        <main class="wrapper">
            {% block content %}{% endblock %}
        </main>
        <script src="{{site.baseUrl}}/scripts/index.js"></script>
    </body>
</html>