{% extends 'layout/withAside.njk' %}

{% block aside %}
{% endblock %}

{% block main %}
    {{ content | safe}}
    <figure class="portrait">
      <a href="/portrait.jpeg">
        <img src="/portrait.png" />
      </a>
      <figcaption>par Miyuka Shipfer</figcaption>
    </figure>
{% endblock %}
