{% extends 'layout/withAside.njk' %}

{% block aside %}
    <a href="mailto:{{email}}">{{email}}</a>
    {% for label, value in contacts %}{% endfor %}
{% endblock %}

{% block main %}
    {{ content | safe}}
{% endblock %}