<style>
    @font-face {
        font-family: "Victor Mono";
        font-style: italic;
        font-weight: 800;
        font-display: swap;
        src: local("Lora Bold"), local("Lora-Bold"), url("{{site.baseUrl}}/victormono-bolditalic.woff") format("woff");
    }
</style>