<header class="wrapper with-aside" data-align="center">
    <div class="pageTitle">
        <h1>{{title or site.title}}</h1>
        <time datetime="{{ date }}">
            {% if date %}
                {{ date | dateText }}
            {% endif %}
        </time>
    </div>
    <div data-pagefind-ignore>
        <div class="cluster js-only" style="--gap:var(--space-s)">
            <button aria-label="rechercher" data-js="searchBtn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" width="1em" height="1em">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                </svg>
            </button>
            <dialog class="searchDialog" data-js="searchDialog">
                <div class="search-wrapper" data-js="searchWrapper">
                    <button class="closeBtn" aria-label="Fermer" data-js="searchCloseBtn">
                        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          width="1em"
          height="1em"
        >
                            <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                    <div id="search-ui"></div>
                </div>
            </dialog>
            <button class="theme-switcher" data-js="theme-switcher" aria-label="changer de thème">
                <svg viewBox="0 0 100 100" width="1em" height="1em">
                    <mask class="moonMask" id="moonMask">
                        <rect x="0" y="0" width="100" height="100" fill="white"></rect>
                        <circle cx="50" cy="50" r="22" fill="black"></circle>
                    </mask>
                    <g class="sunshine" mask="url(#moonMask)">
                        <circle cx="50" cy="5" r="6" fill="currentColor"></circle>
                        <circle cx="82" cy="18" r="6" fill="currentColor"></circle>
                        <circle cx="95" cy="50" r="6" fill="currentColor"></circle>
                        <circle cx="82" cy="82" r="6" fill="currentColor"></circle>
                        <circle cx="5" cy="50" r="6" fill="currentColor"></circle>
                        <circle cx="18" cy="82" r="6" fill="currentColor"></circle>
                        <circle cx="50" cy="95" r="6" fill="currentColor"></circle>
                        <circle cx="18" cy="18" r="6" fill="currentColor"></circle>
                    </g>
                    <circle
                    class="mainCirlce"
                    cx="50"
                    cy="50"
                    r="30"
                    fill="currentColor"
                    mask="url(#moonMask)"></circle>
                </svg>
            </button>
        </div>
        <nav class="nav">
            <ul role="list" >
                <li>
                    <a href="{{site.baseUrl}}/" {% if page.url === '/' %}aria-current="page" {% endif %}>Bonjour</a>
                </li>
                {% for link in collections.pages | sort(false,false,'data.order')%}
                    <li>
                        <a {{ 'aria-current="page"'|safe if (page.url === link.url) or (tags and tags|last == link.data.collection) }} href="{{ link.url }}">
                            {{ link.data.title }}
                        </a>
                    </li>
                {%- endfor %}
            </ul>
        </nav>
    </div>
</header>