.nav {
  margin-block-start: var(--space-s);
  & ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-s);
    row-gap: var(--space-xs);
    --line-weight: 2px;
  }
  & a {
    padding-block: 0.2rem;
  }
}

@media (width > 80rem) {
  .nav {
    & ul {
      flex-direction: column;
    }
  }
}
