@import "../../../../node_modules/tippy.js/dist/tippy.css";

.tippy-box {
  background: var(--text);
  color: var(--surface);
  border-radius: 0;
}

.tippy-box[data-placement^="top"] > .tippy-arrow::before {
  border-top-color: var(--text);
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow::before {
  border-bottom-color: var(--text);
}
.tippy-box[data-placement^="left"] > .tippy-arrow::before {
  border-left-color: var(--text);
}
.tippy-box[data-placement^="right"] > .tippy-arrow::before {
  border-right-color: var(--text);
}
