*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
ul[role="list"] {
  list-style: none;
  padding: 0;
}

button {
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
}
